*{   
    padding: 0; 
    margin: 0; 
}
html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#inpimg { /* style for input tag for images */
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#round {  /* style for input tag for images */
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background:linear-gradient(to left, #A9A9A9, grey, #B0B0B0);
  border: 2px solid grey;
} 
#bold { /* svg style */
   fill: currentColor;
   color: white;
   } 
div.icon { /* style for editing icon */
	width: 320px;
	height: 60px;
	border: 2px solid #eee;
	border-radius: 5px;
	overflow: auto;
	white-space: nowrap;
}
div.icon img {
	display: inline-block;
	padding: 5px 5px 5px 5px
}
#color {
	float: right;
}
#brightnesscolor {
	float: right;
}
#contrastcolor {
	float: right;
}
#filtercolor {
	float: right;
}
#textcolor {
	float: right;
}
#stickercolor {
	float: right;
}
#twodcolor {
	float: right;
}
.slider { /* style for range input tag */
  -webkit-appearance: none;  
  width: 250px;  
  height: 10px; 
  border-radius: 5px;  
  background: #d3d3d3;  
  outline: none;  
  opacity: 0.7;  
  -webkit-transition: .2s;  
  transition: opacity .2s;
  }
.slider:hover { /* style for range input tag */
   opacity: 1;
   }
 .slider::-webkit-slider-thumb { /* style for range input tag */
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  }
.slider::-moz-range-thumb {  /* style for range input tag */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  } 
div#filterlist { /* style for filter icon */
	width: 320px;
	height: 100px;
	overflow: auto;
	white-space: nowrap;
}
div#filterlist img {
	display: inline-block;
	padding: 5px 5px 5px 5px
}
div#framelist { /* style for frame icon */
	width: 320px;
	height: 100px;
	overflow: auto;
	white-space: nowrap;
}
div#framelist img {
	display: inline-block;
	padding: 5px 5px 5px 5px
}
div#twodlist { /* style for twod icon */
	width: 320px;
	height: 100px;
	overflow: auto;
	white-space: nowrap;
}
div#twodlist img {
	display: inline-block;
	padding: 5px 5px 5px 5px
}
div#stickerlist { /* style for sticker icon */
	width: 320px;
	height: 120px;
	overflow: auto;
	white-space: nowrap;
}
div#stickerlist img {
	display: inline-block;
	padding: 5px 5px 5px 5px
}
